{lib_dirs, []}.
{erl_first_files, []}.
{erl_opts, [debug_info, fail_on_warning]}.
% {erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  % {cowboy, ".*", {git, "git://github.com/extend/cowboy.git",   "master"}},
  % {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
  {lager,    ".*", {git, "git://github.com/basho/lager",       "master"}},
  {sync,  "0.1.*", {git, "git://github.com/rustyio/sync",      "HEAD"}},
  {edown,    ".*", {git, "git://github.com/esl/edown.git",     "HEAD"}},
  % {erlzmq,   ".*", {git, "git://github.com/zeromq/erlzmq2.git", "master"}},
  {erlzmq,   ".*", {git, "git://github.com/23min/erlzmq2.git", {branch, "3.x"} }}
]}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, ["apps/*/"]}.
